%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, pat(:list)), url(:languages, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:languages, :new)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon('check-square-o', pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon('square-o', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              %li.list-menu-divider.divider
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon('trash-o', pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                .list-menu-popover-delete-selected.popover.right
                  .arrow
                  %h3.popover-title=pat(:delete_selected_title)
                  .popover-content
                    = form_tag url(:languages, :destroy_many), :method => :delete do
                      =hidden_field_tag :language_ids, :'data-delete-many-ids' => true
                      =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      .btn.btn-default.btn-small.cancel=pat(:cancel)
        %th.header= mat(:language, :name)
        %th.header= mat(:language, :link)
        %th.header= mat(:language, :created_at)
        %th.header= mat(:language, :updated_at)
        %th.header.list-row-action-header

    %tbody
      -@languages.each do |language|
        %tr.list-row
          %td.list-column.list-selectable
            =check_box_tag 'language_ids[]', :value => language.id, :class => 'list-selectable-checkbox'
          %td.list-column=language.name
          %td.list-column=language.link
          %td.list-column=time_ago_in_words language.created_at
          %td.list-column=time_ago_in_words language.updated_at
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:languages, :edit, :id => language.id), :rel => :tooltip, :title => "#{pat(:edit)} language", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon('trash-o'), :rel => :tooltip, :title => "#{pat(:delete)} language", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title=pat(:delete, :model => "language")
                .popover-content
                  = form_tag url(:languages, :destroy, :id => language.id), :method => :delete do
                    =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    .btn.btn-default.btn-small.cancel=pat(:cancel)
